<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Potholes Detection - Map</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Leaflet libs -->
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
 
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
          <i class="fas fa-search-location"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Potholes Detection</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menù
      </div>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-road"></i>
          <span>Potholes Map</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/about">
          <i class="fas fa-users"></i>
          <span>About Us</span>
        </a>
      </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="padding-top: 30px;">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">City Map</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="text-center" style="margin: 0 auto;">
              <div id="myMap" style="width: 1000px; height: 600px;"></div>
              <script>
                // Saving potholes
                const str_potholes = '<%- JSON.stringify(potholes) %>';
                const potholes = JSON.parse(str_potholes);

                var mymap = L.map('myMap').setView([43.72, 10.38], 10);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                  id: 'mapbox/streets-v11',
                  zoomOffset: -1,
                  tileSize: 512,
                  maxZoom: 18,
                  accessToken: 'pk.eyJ1IjoiZmlvcmVoYXJwZXIiLCJhIjoiY2s5cjU1bTI4MHF5ZjNncXBuaWV4b29uMSJ9.-2papy_6OSydatKMl7Rr8w'
                }).addTo(mymap);
	
                var markerClusters = L.markerClusterGroup();

                potholes.forEach(pothole => {
                  var date = pothole.start_at.split(" ");
                  var correct_date = new Date(date[0]);
                  var markerString = "<b>Found at:</b> " + date[1].substring(0, 8) +  " - " + correct_date.getDay() + "/" + correct_date.getMonth() + "/" + correct_date.getFullYear() + "<br />";
                  markerString += "<b>Latitude:</b> " + pothole.latitude + "<br /><b>Longitude:</b> " + pothole.longitude;
                  markerString += "<br/><b>Pothole:</b> <a href=\"#\" image-url=\"../img/" + pothole.filename;
                  markerString += "\" perc-photo=\"" + pothole.probability + "\" id=\"showImage\"><i style=\"color: blue; text-decoration: underline;\"></i>Show image</a>";
                  markerString += "<br/><b>Accelerometer:</b> <a href=\"#showAlertSensor\" id=\"showDataSensor\" data-toggle=\"modal\" data-sensor='" + JSON.stringify(pothole.attached_sensors_data) + "'>";
                  markerString += "<i style=\"color: blue; text-decoration: underline;\"></i>Show data</a>";
                  
                  var marker = L.marker([pothole.latitude, pothole.longitude]).bindPopup(markerString);
                  
                  markerClusters.addLayer(marker);
                });

                mymap.addLayer(markerClusters);
              </script>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>MCPS Project 2020 - Team #8</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div style="padding: 15px;">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Show Pothole Image Modal-->
  <div class="modal fade" id="showAlertImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pothole Photo</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="image-body" style="text-align: center; margin: 0 auto; padding: 15px;">
        </div>
      </div>
    </div>
  </div>

  <!-- Show Pothole Accelerometer Data-->
  <div class="modal fade" id="showAlertSensor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 650px; height: 350px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accelerometer Data</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div style="text-align: center; margin: 0 auto; padding: 15px;">
          <canvas id="sensorPlot" style="width: 625px; height: 250px"></canvas> 
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Show Pothole Image -->
<script type="text/javascript">
  $(document).ready( function () {
    $(document).on("click", "#showImage", function () {
      var potholeUrl = $(this).attr('image-url');
      var potholeFidelity = $(this).attr('perc-photo');
      var potholeImage = "<p>Neural network fidelity: " + potholeFidelity.substring(2, potholeFidelity.length) + "% </p>";
      potholeImage += "<img src=\"" + potholeUrl + "\" width=\"450px\" />";
      $(".image-body").html(potholeImage);
      $('#showAlertImage').modal('show');
    });
  });
  </script>

  <!-- Show Pothole Accelerometer Data -->
  <script>
    $("#showAlertSensor").on('shown.bs.modal', function() {
      var sensor_data = JSON.parse($('#showDataSensor').attr('data-sensor'));
      var labels = [];
      var x = [];
      var y = [];
      var z = [];

      sensor_data.forEach(reading => {
        var timestamp = reading.timestamp;
        var hour_min_sec = timestamp.split(" ")[1].substring(0, 8);
        labels.push(hour_min_sec);
        x.push(reading.x);
        y.push(reading.y);
        z.push(reading.z);
      });

      var ctx = document.getElementById('sensorPlot').getContext('2d');
      var myChart = new Chart(ctx, {
        "type":"line",
        "data": {
            "labels": labels,
            "datasets": [{
              "label":"Axis X",
              "data": x,
              "fill":false,
              "borderColor":"rgb(75, 192, 192)",
              "lineTension":0.1
            },{
              "label":"Axis Y",
              "data": y,
              "fill":false,
              "borderColor":"rgb(195, 0, 0)",
              "lineTension":0.1
            },{
              "label":"Axis Z",
              "data": z,
              "fill":false,
              "borderColor":"rgb(52, 83, 180)",
              "lineTension":0.1
            }]
          },
          "options":{}
        });
    });
    </script>
</body>

</html>